################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/.astro/content-modules.mjs
/.astro/data-store.json
/.astro/settings.json
/.astro/types.d.ts
